<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazhao.pojo.mapper.BillMapper">
    <!-- 查询入库单据 b.delted=0 代表未删除的单据，b.bill_type=1 代表入库单类型-->
    <select id="queryInboundBillList" parameterType="com.dazhao.pojo.bo.InboundBillQueryParameterBO" resultType="Bill">
        SELECT
            b.*,
            b.is_print_all_rfid AS printAllRFID,
            ms.source_name
        FROM (
            SELECT *
            FROM bill
            WHERE bill_type = '1'
               <trim prefix=" " suffix=" ">
                <if test="voucherNumber != null and voucherNumber != ''">
                    AND INSTR(voucher_number, #{voucherNumber}) > 0
                </if>
                <if test="caseNumber != null and caseNumber != ''">
                    AND INSTR(case_number, #{caseNumber}) > 0
                </if>
                <if test="consignerName != null and consignerName != ''">
                    AND INSTR(consigner_name, #{consignerName}) > 0
                </if>
                <if test="consignerDepartment != null and consignerDepartment != ''">
                    AND INSTR(consigner_department, #{consignerDepartment}) > 0
                </if>
                <if test="beginTime != null and beginTime != ''">
                    AND UNIX_TIMESTAMP(DATE_FORMAT(create_time,"%Y-%m-%d")) &gt;= UNIX_TIMESTAMP(#{beginTime})
                </if>
                <if test="endTime != null and endTime != ''">
                    AND UNIX_TIMESTAMP(DATE_FORMAT(create_time,"%Y-%m-%d")) &lt;= UNIX_TIMESTAMP(#{endTime})
                </if>
                <if test="materialSourceId != null and materialSourceId != ''">
                    AND material_source_id = #{materialSourceId}
                </if>

            </trim>
        ) b
        LEFT JOIN
            material_source ms
        ON b.material_source_id = ms.id
        ORDER BY b.create_time DESC
    </select>

    <select id="queryMaterialListByInboundBillId" resultType="material">
        SELECT
            a.*,
            a.is_print_rfid AS printRFID,
            ms.sort_name,
            l.location_number
        FROM (
            SELECT
                m.*
            FROM
                bill_and_material b,
                material m
            WHERE m.id = b.material_id AND b.bill_id = #{value}
        ) a
        LEFT JOIN material_sort ms ON ms.id = a.sort_id
        LEFT JOIN location l ON l.id = a.location_id
    </select>


    <select id="listBills" resultType="bill">
        SELECT
            id,
            material_source_id,
            voucher_number,
            bill_type,
            case_number,
            confiscate_name,
            address,
            consigner_name,
            consigner_department,
            reason,clause,
            confiscate_date,
            is_print_all_rfid,
            received_department,
            hand_over_name,
            bill_status,
            recipient_name,
            voucher_picture_path,
            is_upload_voucher,
            operation_time,
            create_time,
            update_time,
            deleted
        FROM bill
        WHERE deleted = 0 and bill_type = #{billType}
            <if test="voucherNumber != null">
                AND voucher_number LIKE CONCAT(CONCAT('%',#{voucherNumber}),'%')
            </if>
            <if test="handOverName != null">
                AND hand_over_name LIKE CONCAT(CONCAT('%',#{handOverName}),'%')
            </if>
            <if test="receivedDepartment != null">
                AND received_department LIKE CONCAT(CONCAT('%',#{receivedDepartment}),'%')
            </if>
            <if test="billStatus != null">
                AND bill_status = #{billStatus}
            </if>
            <if test="beginTime != null and beginTime != ''">
                AND UNIX_TIMESTAMP(DATE_FORMAT(create_time,"%Y-%m-%d")) &gt;= UNIX_TIMESTAMP(#{beginTime})
            </if>
            <if test="endTime != null and endTime != ''">
                AND UNIX_TIMESTAMP(DATE_FORMAT(create_time,"%Y-%m-%d")) &lt;= UNIX_TIMESTAMP(#{endTime})
            </if>
        ORDER BY create_time DESC
    </select>

    <select id="queryInboundBillById" resultType="bill">
        SELECT
            b.*,
            b.is_print_all_rfid AS printAllRFID,
            ms.source_name
        FROM
            bill b,
            material_source ms
        WHERE b.material_source_id = ms.id AND b.id = #{value}
    </select>

    <select id="queryInboundMaterialGroup" resultType="com.dazhao.pojo.vo.MaterialGroupVO">
     SELECT
         cc.sort_name,
         MAX(cc.sort_id) AS sortId,
         cc.location_id,
         cc.material_name,
         cc.material_unit,
         cc.material_type,
         cc.material_comment,
         COUNT(1) AS total,
         MAX(cc.bill_id) AS bill_id,
         MAX(cc.location_number) AS location_number
     FROM (
         SELECT
             a.*,
             b.location_number,
             ms.sort_name
         FROM (
             SELECT
                 m.*,
                 bm.bill_id
             FROM
                 bill_and_material bm,
                 material m
             WHERE bm.material_id = m.id AND bm.bill_id = #{value}
         ) a
         LEFT JOIN location b ON  a.location_id= b.id
         LEFT JOIN material_sort ms on ms.id=a.sort_id
     ) cc
     GROUP BY cc.location_id, cc.material_name, cc.material_unit, cc.material_type, cc.material_comment, cc.sort_name
    </select>

     <!--bill_type=2表示借阅单据类型，bill_status=1 表示借阅中-->
    <select id="queryBillByBorrowStatus" resultType="bill">
        SELECT
            id,
            voucher_number,
            create_time,
            hand_over_name,
            received_department
        FROM bill
        WHERE bill.bill_type = 2 AND bill_status = 1 AND deleted = 0
        ORDER BY create_time DESC
    </select>

    <!--mh.operation_type = 2 表示借阅操作  m.material_status = 2 表示借阅-->
    <select id="queryBorrowBillMaterialGroupInformation" resultType="com.dazhao.pojo.vo.MaterialGroupAndMateialsVO">
       SELECT
           b.material_name,
           b.material_unit,
           b.material_type,
           b.material_comment,
           b.sort_name,
           b.location_number,
           b.sort_id,
           b.location_id,
           COUNT(1) AS total
       FROM (
           SELECT
               a.*,
               l.location_number,
               ms.sort_name
           FROM (
               SELECT m.*
               FROM
                   material_history mh,
                   material m
               WHERE mh.material_id = m.id AND mh.bill_id = #{value} AND mh.operation_type = 2 AND m.material_status = 2
           ) a
           LEFT JOIN location l ON l.id = a.location_id
           LEFT JOIN material_sort ms ON ms.id = a.sort_id
       ) b
       GROUP BY b.material_name, b.material_unit, b.material_type, b.material_comment,
           b.sort_name, b.location_number, b.sort_id, b.location_id
    </select>

    <select id="isRestoreMaterialAll" resultType="int">
       SELECT COUNT(1)
       FROM
           material_history mh,
           material m
       WHERE mh.material_id = m.id AND mh.bill_id = #{value} AND m.material_status = 2
   </select>

    <select id="queryBillExpire" resultType="com.dazhao.pojo.vo.BillAndMaterialVO">
        SELECT *
        FROM (
            SELECT
                b.voucher_number,
                b.id AS bill_id,
                b.create_time,
                ms.source_name,
                b.expire_time
            FROM (
                SELECT * FROM bill WHERE bill_type = 1 AND deleted = 0
            ) b
            LEFT JOIN material_source ms ON ms.id = b.material_source_id
        ) r
        WHERE DATEDIFF(r.expire_time,CURDATE()) &lt;= (SELECT live_day FROM notification_condition WHERE id=1)
    </select>

    <select id="queryRecentBillOperation" resultType="bill">
        SELECT *
        FROM bill
        WHERE
        create_time = (
            SELECT MAX(create_time)
            FROM bill
            WHERE
            <if test="billType == 1">
                bill_type = 1
            </if>
            <if test="billType == 0">
                bill_type IN(2,3,4)
            </if>
        )
    </select>

    <update id="updateInboundBillPrintStatus">
        UPDATE bill
        SET is_print_all_rfid = 1
        WHERE id = #{billId}
          AND bill_type = 1
    </update>

    <select id="isPrintAllByBillId" resultType="int">
        SELECT COUNT(1) AS `count`
        FROM (
              SELECT *
              FROM bill_and_material
              WHERE bill_id = #{billId}
        ) b
        LEFT JOIN material m ON b.material_id = m.id
        WHERE m.is_print_rfid = 0
    </select>

    <select id="countLiveMaterialOfBill" resultType="com.dazhao.pojo.vo.BillAndMaterialVO">
       SELECT
           b.bill_id,
           IFNULL(c.count,0) AS `count`
       FROM (
           SELECT DISTINCT bill_id
           FROM bill_and_material
           WHERE material_id IN
                <foreach collection="materialIdList" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
       ) b
       LEFT JOIN (
           SELECT
               a.bill_id,
               COUNT(1) AS `count`
           FROM (
               SELECT DISTINCT bill_id
               FROM bill_and_material
               WHERE material_id IN
                    <foreach collection="materialIdList" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
           ) a
           LEFT JOIN bill_and_material bam  ON a.bill_id = bam.bill_id
           LEFT JOIN material m ON bam.material_id = m.id
           WHERE m.deleted = 0
           GROUP BY a.bill_id
       ) c ON b.bill_id = c.bill_id
    </select>

    <update id="deleteInboundBillByBillId">
        UPDATE bill
        SET deleted = 1
        WHERE  id = #{inboundBillId}
    </update>
     <!-- wether_sync 1 同步法眼 0 未同步法眼-->
    <update id="updateWetherSyncStatus">
        UPDATE bill
        SET wether_sync = 1
        WHERE id = #{billId}
    </update>

    <update id="uploadBillSignature">
        UPDATE bill
        SET
            signature = #{signatureHash},
            signature_picture_path = #{signaturePicturePath},
            signature_flag = 1
        WHERE id = #{billId}
    </update>

    <select id="needSignatureBill" resultType="bill">
        SELECT *
        FROM bill
        WHERE signature_flag = 0
        OR signature_flag IS NULL
        ORDER BY create_time DESC
    </select>
</mapper>
