<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazhao.pojo.mapper.LocationMapper">
    <select id="queryLocationList" resultType="Location">
       SELECT
           id,
           location_number,
           location_describe,
           fill_flag
       FROM location
       WHERE deleted = 0
   </select>

    <select id="queryLocationMaterialGroupByid" parameterType="int" resultType="String">
    SELECT CONCAT(a.material_name,'  ', a.total,'  ', a.material_unit)
    FROM (
        SELECT
            m.material_name,
            COUNT(1) AS total,
            m.material_unit
        FROM
            location lc,
            material m
        WHERE lc.id = m.location_id AND m.deleted = 0 AND lc.id = #{value}
        GROUP BY m.material_name, m.material_unit
    ) a
    </select>

    <update id="deleteLocationByid">
        UPDATE location
        SET deleted = 1
        WHERE id = #{value}
    </update>

    <select id="isExistUserLocationByid" resultType="int">
        SELECT COUNT(1)
        FROM material
        WHERE deleted = 0 AND location_id = #{value}
    </select>

    <select id="isExistLocationByLocationNumber" resultType="int">
      SELECT COUNT(1)
      FROM location
      WHERE deleted = 0 AND location_Number = #{value}
    </select>

    <select id="queryLocationStock" resultType="location">
        SELECT
            lc.id,
            lc.location_number,
            IFNULL(c.stock,0) AS stock
        FROM (
            SELECT * FROM location WHERE deleted = 0
        ) lc
        LEFT JOIN (
                SELECT
                    l.id,
                    COUNT(1) AS 'stock'
                FROM (
                    SELECT * FROM location WHERE deleted = 0
                ) l
                LEFT JOIN material m ON l.id = m.location_id
                WHERE m.deleted = 0 AND m.material_status IN(1,2)
                GROUP BY l.id
        ) c
            ON lc.id = c.id
    </select>

    <update id="updateLocationFillFlag">
        UPDATE location
        SET fill_flag = #{fillFlag}
        WHERE id = #{locationId}
    </update>

    <select id="queryDefaultLocation" resultType="location">
       SELECT
           id,
           location_number,
           location_describe,
           fill_flag
        FROM location
        WHERE fill_flag = 0
        ORDER BY id ASC LIMIT 1;
    </select>
</mapper>