<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazhao.pojo.mapper.MaterialHistoryMapper">

    <resultMap id="resultMaterialHistoryVO" type="com.dazhao.pojo.vo.MaterialHistoryVO">
        <result column="material_name" property="materialName"/>
        <result column="material_unit" property="materialUnit"/>
        <result column="material_type" property="materialType"/>
        <result column="location_number" property="locationNumber"/>
        <result column="material_count" property="materialCount"/>
        <result column="create_time" property="createTime"/>
        <result column="material_number" property="materialNumber"/>
        <result column="material_comment" property="materialComment"/>
        <result column="sort_name" property="sortName"/>
    </resultMap>

    <!--获取物资分组列表-->
    <select id="listMaterialGroup" resultMap="resultMaterialHistoryVO">
          SELECT
              s.material_name,
              s.material_unit,
              s.material_type,
              s.location_number,
              material_comment,
              sort_name,
              COUNT(material_name) material_count
          FROM (
              SELECT
                  mh.create_time,
                  (SELECT material_name FROM material m WHERE m.id = mh.material_id) material_name,
                  (SELECT material_unit FROM material m WHERE m.id = mh.material_id) material_unit,
                  (SELECT material_type FROM material m WHERE m.id = mh.material_id) material_type,
                  (SELECT material_comment FROM material m WHERE m.id = mh.material_id) material_comment,
                  (SELECT ms.sort_name FROM material_sort ms WHERE ms.id = (SELECT sort_id FROM material m WHERE m.id = mh.material_id)) sort_name,
                  (SELECT location_number FROM location l WHERE l.id = (SELECT location_id FROM material m WHERE m.id = mh.material_id)) location_number
               FROM material_history mh
               WHERE mh.bill_id = (
                       SELECT id FROM bill WHERE voucher_number = #{voucherNumber} AND deleted = 0
                     ) AND mh.operation_type = #{operationType}
          ) s
          GROUP BY s.material_name, s.material_unit, s.material_type, s.location_number, material_comment, sort_name
    </select>


    <!--获取物资明细列表-->
    <select id="listMaterialDetails" resultMap="resultMaterialHistoryVO">
            SELECT
                m.material_number,
                mh.create_time
            FROM material_history mh
            LEFT JOIN material m ON mh.material_id = m.id
            WHERE mh.bill_id = (
                      SELECT id FROM bill WHERE voucher_number = #{voucherNumber,jdbcType=VARCHAR} AND deleted = 0
                  )
                  AND mh.operation_type = #{operationType,jdbcType=INTEGER}
                  AND m.material_name = #{materialName,jdbcType=VARCHAR}
                  AND m.material_unit = #{materialUnit,jdbcType=VARCHAR}
                  AND m.location_id = (
                          SELECT DISTINCT id FROM location WHERE location_number = #{locationNumber,jdbcType=VARCHAR}
                      )
                  AND m.material_type = #{materialType,jdbcType=VARCHAR}
                  AND m.material_comment = #{materialComment}
                  AND m.sort_id = (
                          SELECT id FROM material_sort WHERE sort_name = #{sortName}
                      )
    </select>

    <!--批量增加物资追溯详情-->
    <insert id="insertMaterialHistorys">
        INSERT INTO material_history
            (
             bill_id,
             material_id,
             operation_type,
             create_time
            )
        VALUES
        <foreach collection="materialIds" item="materialId" open="(" separator="),(" close=")">
            #{billId},
            #{materialId},
            #{operationType},
            #{createTime}
        </foreach>
    </insert>


    <select id="queryBorrowMaterialGroupDetailByConditon" parameterType="com.dazhao.pojo.bo.MaterialGroupParameterBO"
        resultType="com.dazhao.pojo.vo.BorrowMaterialVO">
        SELECT
            c.id AS materialId,
            c.material_number,
            b.create_time,
            ms.source_name
        FROM (
             SELECT
                 a.*,
                 bam.bill_id
             FROM (
                 SELECT m.*
                 FROM
                     material_history mh,
                     material m
                 WHERE mh.material_id = m.id AND mh.bill_id = #{billId} AND m.material_status = 2 AND m.sort_id = #{sortId}
                     AND m.material_name = #{materialName} AND m.material_unit = #{materialUnit} AND m.material_type = #{materialType}
                     AND m.material_comment = #{materialComment} AND m.location_id = #{locationId}
             ) a,
             bill_and_material bam
             WHERE a.id = bam.material_id
        ) c
        LEFT JOIN bill b ON c.bill_id = b.id
        LEFT JOIN material_source ms ON b.material_source_id = ms.id
    </select>

    <select id="borrowMaterialExists" resultType="int">
        SELECT COUNT(1)
        FROM (
            SELECT m.*
            FROM
                material_history mh,
                material m
            WHERE mh.material_id = m.id AND mh.bill_id = #{billId}
        ) a
        WHERE a.material_status = 2
            AND a.id IN
                <foreach collection="list" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
    </select>

    <select id="queryMaterialHistoryById" resultType="com.dazhao.pojo.vo.MaterialHistoryInformationVO">
    SELECT
        b.bill_type,
        b.hand_over_name,
        b.received_department,
        mh.operation_type,
        mh.create_time,
        mh.comment,
        u.name AS operationName
    FROM (
        SELECT *
        FROM material_history
        WHERE material_id = #{value}
    ) mh
    LEFT JOIN bill b ON  b.id = mh.bill_id
    LEFT JOIN user u ON u.id = operation_name_id
    ORDER BY mh.create_time DESC
</select>
    <!--6 代表操作类型为 仓位变更-->
    <insert id="insertUploadLocationMaterialHistorys">
        INSERT INTO material_history
        (
         material_id,
         operation_type,
         comment,
         create_time,
         operation_name_id
        )
        VALUES
        <foreach collection="materialList" item="material" open="(" separator="),(" close=")">
            #{material.id},
            6,
            CONCAT(#{material.locationNumber},' → ',#{locationNumber}),
            #{createTime},
            #{operationNameId}
        </foreach>
    </insert>

    <select id="outboundMaterialStatistics" resultType="com.dazhao.pojo.vo.StatisticsVo">
        SELECT
        <choose>
            <when test="timeUnit != null and timeUnit == 1">
                DATE_FORMAT(create_time,"%Y-%m")
            </when>
            <otherwise>
                DATE_FORMAT(create_time,"%Y-%m-%d")
            </otherwise>
        </choose>
            AS time,
            count(1) AS `count`
        FROM material_history
        WHERE operation_type IN(2,3,4)
        GROUP BY
        <choose>
            <when test="timeUnit != null and timeUnit == 1">
                DATE_FORMAT(create_time,"%Y-%m")
            </when>
            <otherwise>
                DATE_FORMAT(create_time,"%Y-%m-%d")
            </otherwise>
        </choose>

    </select>

    <select id="queryRestoresOperation" resultType="bill">
        SELECT
            b.voucher_number,
            b.bill_type,
            res.create_time
        FROM (
            SELECT
                ms.bill_id,
                ms.create_time
            FROM material_history ms
            WHERE ms.create_time = ( SELECT MAX(a.create_time) FROM (SELECT * FROM material_history WHERE deleted = 0 AND operation_type = 5) a
                )
            GROUP BY ms.bill_id, ms.create_time
        ) res
       LEFT JOIN bill b ON b.id = res.bill_id
    </select>
</mapper>