<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazhao.pojo.mapper.OperationLogMapper">

    <select id="queryOperationLogList" resultType="OperationLog">
        SELECT
            ol.*,
            u.name AS operation_name
        FROM operation_log ol
        LEFT JOIN user u ON u.id = ol.user_id
        WHERE 1 = 1
            <if test="startTime != null and startTime != ''">
                AND UNIX_TIMESTAMP(DATE_FORMAT(ol.create_time,"%Y-%m-%d")) &gt;= UNIX_TIMESTAMP(#{startTime})
            </if>
            <if test="endTime != null and endTime != ''">
                AND UNIX_TIMESTAMP(DATE_FORMAT(ol.create_time,"%Y-%m-%d")) &lt;= UNIX_TIMESTAMP(#{endTime})
            </if>
        ORDER BY ol.create_time DESC
    </select>

</mapper>