<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazhao.pojo.mapper.StocktakingProblemMapper">
    <insert id="insertStocktakingMaterialProblem" >
        INSERT INTO stocktaking_problem
        (
            check_records_id,
            material_id,
            material_status,
            problem_describe,
            create_time
        )
        VALUES
        <foreach collection="list" item="bean" separator=",">
        (
            #{id},
            #{bean.materialId},
            #{bean.materialStatus},
            #{bean.problemDescribe},
            now()
        )
        </foreach>
    </insert>


</mapper>