<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazhao.pojo.mapper.StocktakingRecordMapper">
    <resultMap id="checkMap" type="StocktakingRecord">
        <id column="id" property="id"/>
        <result column="checker_name" property="checkerName"/>
        <result column="superintendent_name" property="superintendentName"/>
        <result column="picture_url" property="pictureUrl"/>
        <result column="create_time" property="createTime"/>
        <result column="signature" property="signature"/>
        <result column="signature_flag" property="signatureFlag"/>
        <result column="signature_picture_path" property="signaturePicturePath"/>
        <collection property="problemMaterials" ofType="Material" column="id">
            <result column="material_number" property="materialNumber"/>
            <result column="material_name" property="materialName"/>
            <result column="material_type" property="materialType"/>
            <result column="material_unit" property="materialUnit"/>
            <result column="material_status" property="materialStatus"/>
            <result column="material_comment" property="materialComment"/>
            <result column="sortName" property="sortName"/>
        </collection>
    </resultMap>

    <select id="queryStocktakingRecord" resultType="StocktakingRecord">
        SELECT *
        FROM stocktaking_record
        WHERE deleted = 0
            <if test="checkName != null and checkName !=''">
                AND instr(checker_name,#{checkName})>0
            </if>
            <if test="beginTime != null and beginTime != ''">
                AND UNIX_TIMESTAMP(DATE_FORMAT(create_time,"%Y-%m-%d")) &gt;= UNIX_TIMESTAMP(#{beginTime})
            </if>
            <if test="endTime != null and endTime != ''">
                AND UNIX_TIMESTAMP(DATE_FORMAT(create_time,"%Y-%m-%d")) &lt;= UNIX_TIMESTAMP(#{endTime})
           </if>
        ORDER BY create_time DESC
    </select>

    <select id="queryStocktakingRecordById" resultMap="checkMap">
        SELECT
            cr.id,
            cr.checker_name,
            cr.create_time,
            cr.picture_url,
            cr.superintendent_name,
            cr.signature,
            cr.signature_flag,
            cr.signature_picture_path,
            m.material_name,
            m.material_number,
            m.material_type,
            m.material_unit,
            ms.sort_name AS sortName,
            cp.material_status,
            cp.problem_describe AS material_comment
        FROM stocktaking_record cr
        LEFT JOIN stocktaking_problem cp ON cp.check_records_id = cr.id
        LEFT JOIN material m ON cp.material_id = m.id
        LEFT JOIN material_sort ms ON ms.id = m.sort_id
        WHERE cr.id = #{value}
    </select>

    <select id="queryRecentStoktaingRecord" resultType="stocktakingRecord">
        SELECT *
        FROM stocktaking_record
        WHERE create_time = (SELECT MAX(create_time) FROM stocktaking_record)
    </select>

    <select id="queryStocktakingProblemByRecordId" resultType="int">
        SELECT COUNT(1) AS `count`
        FROM (
              SELECT *
              FROM stocktaking_record
              WHERE id = #{value}
        ) r,
        stocktaking_problem sp
        WHERE sp.check_records_id = r.id
    </select>
    <update id="uploadStocktakingSignature">
        UPDATE stocktaking_record
        SET
            signature = #{signatureHash},
            signature_picture_path = #{signaturePicturePath},
            signature_flag = 1
        WHERE id = #{billId}
    </update>
</mapper>